{% extends "card_base.html" %}

{% block card_body %}
<form action="/filter_action" method="POST">
    <div class="form-group row">
        <label for="year" class="col-3 col-form-label">Year</label>
        <div class="col-9">
            <select class="form-control" id="year" name="year">
                {% for k, v in [(0, 'none'), (2024, 2024), (2025, 2025), (2026, 2026)] %}
                    {% if k == filter['year'] %}
                        <option selected="selected" value="{{ k }}">{{ v }}</option>
                    {% else %}
                        <option value="{{ k }}">{{ v }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="player1" class="col-3 col-form-label">Player 1</label>
        <div class="col-9">
            <select class="form-control" id="player1" name="player1">
                {% for k, v in players.items() %}
                    {% if k == filter['player1'] %}
                <option selected="selected" value="{{ k }}">{{ v }}</option>
                    {% else %}
                <option value="{{ k }}">{{ v }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="player2" class="col-3 col-form-label">Player 2</label>
        <div class="col-9">
            <select class="form-control" id="player2" name="player2">
                {% for k, v in players.items() %}
                    {% if k == filter['player2'] %}
                <option selected="selected" value="{{ k }}">{{ v }}</option>
                    {% else %}
                <option value="{{ k }}">{{ v }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="player3" class="col-3 col-form-label">Player 3</label>
        <div class="col-9">
            <select class="form-control" id="player3" name="player3">
                {% for k, v in players.items() %}
                    {% if k == filter['player3'] %}
                <option selected="selected" value="{{ k }}">{{ v }}</option>
                    {% else %}
                <option value="{{ k }}">{{ v }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="minMatches" class="col-3 col-form-label">Matches</label>
        <div class="col-9">
            <select class="form-control" id="minMatches" name="minMatches">
                {% for v in [0, 1, 2, 3, 5, 10, 20, 30, 50, 75, 100] %}
                    {% if v == filter['minMatches'] %}
                        <option selected="selected" value="{{ v }}">{{ v }}</option>
                    {% else %}
                        <option value="{{ v }}">{{ v }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true"
               id="show1on1" name="show1on1" {{ "checked" if filter['show1on1'] == true }}/>
        <label class="form-check-label" for="show1on1">Show 1on1s</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true"
               id="show2on2" name="show2on2" {{ "checked" if filter['show2on2'] == true }}/>
        <label class="form-check-label" for="show2on2">Show 2on2s</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true"
               id="showWin" name="showWin" {{ "checked" if filter['showWin'] == true }}/>
        <label class="form-check-label" for="showWin">Show wins</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true"
               id="showDraw" name="showDraw" {{ "checked" if filter['showDraw'] == true }}/>
        <label class="form-check-label" for="showDraw">Show draws</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true"
               id="showLoss" name="showLoss" {{ "checked" if filter['showLoss'] == true }}/>
        <label class="form-check-label" for="showLoss">Show losses</label>
    </div>
    <br>
    {% if error %}
        {% block error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            <br>
        {% endblock error %}
    {% endif %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{{filter['source']}}" class="btn btn-secondary me-md-2">Cancel</a>
        <a href="/filter_clear" class="btn btn-primary me-md-2">Clear Filter</a>
        <button id="submit" class="btn btn-primary" type="submit" onclick="swapButton()">Apply Filter</button>
        <button id="spinner" class="btn btn-primary" type="button" disabled style="display: none">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Add Filter
        </button>
    </div>
</form>
{% endblock %}
