{% extends "card_base.html" %}

{% block head %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js">
</script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'yyyy-mm-dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>
{% endblock %}

{% block card_body %}
<form action="/match_action" method="POST">
    <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
            <input class="form-control" id="date" name="date" value="{{date}}" type="text"/>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="partner" class="col-sm-2 col-form-label">Partner</label>
        <div class="col-sm-10">
            <select class="form-control" id="partner" name="partner">
                {% for k, v in players.items() %}
                    {% if k == partner %}
                        <option selected="selected" value="{{ k }}">{{ v }}</option>
                    {% else %}
                        <option value="{{ k }}">{{ v }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="rival1" class="col-sm-2 col-form-label">Rival1</label>
        <div class="col-sm-10">
            <select class="form-control" id="rival1" name="rival1">
                {% for k, v in players.items() %}
                    {% if k == rival1 %}
                        <option selected="selected" value="{{ k }}">{{ v }}</option>
                    {% else %}
                        <option value="{{ k }}">{{ v }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="rival2" class="col-sm-2 col-form-label">Rival2</label>
        <div class="col-sm-10">
            <select class="form-control" id="rival2" name="rival2">
                {% for k, v in players.items() %}
                    {% if k == rival2 %}
                        <option selected="selected" value="{{ k }}">{{ v }}</option>
                    {% else %}
                        <option value="{{ k }}">{{ v }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="result" class="col-sm-2 col-form-label">Result</label>
        <div class="col-sm-10">
            <select class="form-control" id="result" name="result">
                {% if result == "1" %}
                    <option selected="selected" value="1">win</option>
                    <option value="2">draw</option>
                    <option value="0">lose</option>
                {% elif result == "0" %}
                    <option value="1">win</option>
                    <option value="2">draw</option>
                    <option selected="selected" value="0">lose</option>
                {% else %}
                    <option value="1">win</option>
                    <option selected="selected" value="2">draw</option>
                    <option value="0">lose</option>
                {% endif %}
            </select>
        </div>
    </div>
    <br>
    {% if error %}
        {% block error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            <br>
        {% endblock error %}
    {% endif %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/matches" class="btn btn-secondary me-md-2">Cancel</a>
        <button id="submit" class="btn btn-primary" type="submit" onclick="swapButton()">Add Match</button>
        <button id="spinner" class="btn btn-primary" type="button" disabled style="display: none">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Add Match
        </button>
    </div>
</form>
{% endblock %}
