{% extends "stats_base.html" %}

{% block body %}
<canvas id="chartId" aria-label="chart" height="300" width="380"></canvas>
<table class="table-borderless" data-filter-control="true" data-search="true"
       data-show-footer="true" data-toggle="table" data-url="matches.json">
  <thead>
    <tr>
      <th data-cell-style="cellStyleMatchResult" data-field="date" data-filter-control="input"
          data-footer-formatter="footItemCountFormatter" data-formatter="formatterDate" data-sortable="true">D</th>
      <th data-cell-style="cellStyleMatchResult" data-field="partner" data-filter-control="select"
          data-filter-data="url:/player_list.json" data-filter-strict-search="false"
          data-footer-formatter="footResults" data-sortable="true">Partner</th>
      <th data-cell-style="cellStyleMatchResult" data-field="rivals" data-filter-control="select"
          data-filter-data="url:/player_list.json" data-filter-strict-search="false" data-sortable="true">Rivals</th>
    </tr>
  </thead>
</table>
<nav class="navbar sticky-bottom bg-body-primary">
  <div class="container-fluid">
    <a href="/calendar" class="btn btn-primary me-md-2">calendar</a>
    <a href="/players" class="btn btn-primary me-md-2">players</a>
    <a href="/match_form" class="btn btn-primary me-md-0">add match</a>
  </div>
</nav>
{% endblock %}
