{% extends "stats_base.html" %}

{% block body %}
<table class="table-borderless" data-search="true" data-show-footer="true" data-toggle="table" data-url="matches.json">
  <thead>
    <tr>
      <th data-field="date" data-cell-style="cellStyleResult" data-footer-formatter="footItemCountFormatter"
          data-formatter="formatterDate" data-sortable="true">D</th>
      <th data-field="partner" data-cell-style="cellStyleResult"
          data-footer-formatter="footResults" data-sortable="true">Partner</th>
      <th data-field="rivals" data-cell-style="cellStyleResult" data-sortable="true">Rivals</th>
    </tr>
  </thead>
</table>
<br>
<nav class="navbar sticky-bottom bg-body-primary">
  <div class="container-fluid">
    <a href="/calendar" class="btn btn-primary me-md-2">Calendar</a>
    <a href="/players" class="btn btn-primary me-md-2">Players</a>
    <a href="/match_form" class="btn btn-primary me-md-0">Add Match</a>
  </div>
</nav>
{% endblock %}

