{% extends "stats_base.html" %}

{% block body %}
<table class="table-borderless" data-toggle="table" data-url="players.json">
  <thead>
    <tr>
      <th data-field="player" data-sortable="true">Player</th>
      <th class="right" data-field="total" data-sortable="true">Total</th>
      <th class="right" data-field="pt" data-sortable="true">Partner</th>
      <th class="right" data-field="ps">Stats</th>
      <th class="right" data-field="rt" data-sortable="true">Rival</th>
      <th class="right" data-field="rs">Stats</th>
    </tr>
  </thead>
</table>
<br>
<nav class="navbar sticky-bottom bg-body-primary">
  <div class="container-fluid">
    <a href="/calendar" class="btn btn-primary me-md-2">Calendar</a>
    <a href="/matches" class="btn btn-primary me-md-2">Matches</a>
    <a href="/match_form" class="btn btn-primary me-md-0">Add Match</a>
  </div>
</nav>
{% endblock %}

