{% extends "stats_base.html" %}

{% block body %}
<table class="table-borderless" data-toggle="table" data-url="players.json">
  <thead>
    <tr>
      <th data-field="player" data-sortable="true">P</th>
      <th data-align="right" data-halign="left" data-field="total" data-sortable="true">T</th>
      <th data-align="right" data-halign="left" data-field="pt" data-sortable="true">P</th>
      <th data-align="right" data-halign="left" data-field="ps"></th>
      <th data-align="right" data-halign="left" data-field="rt" data-sortable="true">R</th>
      <th data-align="right" data-halign="left" data-field="rs"></th>
    </tr>
  </thead>
</table>
<br>
<nav class="navbar sticky-bottom bg-body-primary">
  <div class="container-fluid">
    <a href="/calendar" class="btn btn-primary me-md-2">Calendar</a>
    <a href="/matches" class="btn btn-primary me-md-2">Matches</a>
    <a href="/player_form" class="btn btn-primary me-md-0">Add Player</a>
  </div>
</nav>
{% endblock %}

