{% extends "stats_base.html" %}

{% block body %}
<table class="table-borderless" data-toggle="table" data-url="players.json">
  <thead>
    <tr>
      <th class="index" data-cell-style="cellStyleIndexPlayerResult" data-field="index" data-sortable="true">#</th>
      <th data-cell-style="cellStylePlayerResult" data-field="player" data-sortable="true">P</th>
      <th data-cell-style="cellStylePlayerResult" data-align="right"
          data-halign="left" data-field="total" data-sortable="true">T</th>
      <th data-cell-style="cellStylePartnerResult" data-align="right"
          data-halign="left" data-field="pt" data-sortable="true">P</th>
      <th data-cell-style="cellStylePartnerResult" data-align="right" data-halign="left" data-field="ps"></th>
      <th data-cell-style="cellStyleRivalResult" data-align="right"
          data-halign="left" data-field="rt" data-sortable="true">R</th>
      <th data-cell-style="cellStyleRivalResult" data-align="right" data-halign="left" data-field="rs"></th>
    </tr>
  </thead>
</table>
<nav class="navbar sticky-bottom bg-body-primary">
  <div class="container-fluid">
    <a href="/calendar" class="btn btn-primary me-md-2">calendar</a>
    <a href="/filter_form?src=players" class="btn btn-primary me-md-2">filter</a>
    <a href="/matches" class="btn btn-primary me-md-2">matches</a>
    <a href="/player_form" class="btn btn-primary me-md-0">add player</a>
  </div>
</nav>
{% endblock %}

