{% extends "card_base.html" %}

{% block card_body %}
<form action="/player_action" method="POST">
    <div class="form-group row">
        <label for="player" class="col-sm-2 col-form-label">Player</label>
        <div class="col-sm-10">
            <input class="form-control" id="player" name="player" value="{{player}}" type="text"/>
        </div>
    </div>
    <br>
    {% if error %}
        {% block error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            <br>
        {% endblock error %}
    {% endif %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/players" class="btn btn-secondary me-md-2">Cancel</a>
        <button id="submit" class="btn btn-primary" type="submit" onclick="swapButton()">Add Player</button>
        <button id="spinner" class="btn btn-primary" type="button" disabled style="display: none">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Add Player
        </button>
    </div>
</form>
{% endblock %}
