html {
    font-size: 13px;
}

.table-borderless {
    font-size: 1rem !important;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    padding: 0px 3px 0px 0px;
}

.sticky-bottom {
    bottom: 20px !important;
}

.th-inner {
    padding: 0.35rem !important;
}

.bootstrap-table {
    margin: 3px !important;
}

.bootstrap-table-filter-control-date {
    width: 40px !important;
}

.bootstrap-table-filter-control-partner {
    width: 95px !important;
}

.bootstrap-table-filter-control-rivals {
    width: 95px !important;
}

.bootstrap-table .fixed-table-container .table thead th .sortable {
    padding-right: 25px!important;
}

.index {
    padding-right: 8px !important;
    text-align: right;
    width: 30px;
}

.form-control {
    font-size: 0.8rem !important;
    padding: 0.3rem 0.1rem !important;
}

.form-select {
    font-size: 0.8rem !important;
    padding: 0.3rem 0.1rem !important;
}

ul {
    margin-bottom: 0;
    padding-left: 1rem !important;
}

.draw {
    background-color: Orange !important;
    color: white !important;
}
.loss {
    background-color: Tomato !important;
    color: white !important;
}
.win {
    background-color: MediumSeaGreen !important;
    color: white !important;
}
