
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    padding: 3px;
}

.bootstrap-table {
    margin: 3px !important;
}

.draw {
    background-color: Orange !important;
    color: white !important;
}
.lose {
    background-color: Tomato !important;
    color: white !important;
}
.win {
    background-color: MediumSeaGreen !important;
    color: white !important;
}
