html {
    font-size: 15px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    padding: 3px;
}

.bootstrap-table {
    margin: 3px !important;
}

.bootstrap-table-filter-control-date {
    width: 60px !important;
}

.bootstrap-table-filter-control-partner {
    width: 130px !important;
}

.bootstrap-table-filter-control-rivals {
    width: 220px !important;
}

.form-control {
    padding: 0.35rem !important;
}

.form-select {
    padding: 0.35rem !important;
}

.draw {
    background-color: Orange !important;
    color: white !important;
}
.lose {
    background-color: Tomato !important;
    color: white !important;
}
.win {
    background-color: MediumSeaGreen !important;
    color: white !important;
}
